<nav class="panel">
  <p class="panel-heading">
    <a class="button is-white" (click)="showNewSub = !showNewSub">
      <span class="icon is-small">
      <i class="fa fa-plus"></i>
    </span>
      <span>Νέα Συνδρομή</span>
    </a>
    <a class="button is-white">
      <span class="icon is-small">
      <i class="fa fa-money"></i>
    </span>
      <span>Νέα Πληρωμή</span>
    </a>
    <a class="button is-white">
      <span class="icon is-small">
      <i class="fa fa-shopping-basket"></i>
    </span>
      <span>Νέα Αγορά</span>
    </a>
    <a (click)="cancel()" class="button is-primary is-inverted is-pulled-right">
      <span class="icon is-small">
      <i class="fa fa-list"></i>
    </span>
      <span>Έξοδος</span>
    </a>
  </p>
  <div class="panel-top-block" [ngClass]="{'panel-item': !showNewSub}">
    <package-details *ngIf="!showNewSub" (exitForm)="onInsert($event)" style="width:100%"></package-details>
  </div>
  <p class="panel-tabs">
    <a (click)="paneltab = 0" [ngClass]="{'is-active': paneltab == 0}">Συνδρομές</a>
    <a (click)="paneltab = 1" [ngClass]="{'is-active': paneltab == 1}">Αποδείξεις</a>
    <a (click)="paneltab = 2" [ngClass]="{'is-active': paneltab == 2}">Συμμετοχές</a>
    <a (click)="paneltab = 3" [ngClass]="{'is-active': paneltab == 3}">Καλάθι Αγορών</a>
  </p>
  <a class="panel-block" *ngIf="paneltab == 0">
    <app-packages-list style="width:100%"></app-packages-list>
  </a>
  <a class="panel-block" *ngIf="paneltab == 1">
    <span class="panel-icon">
      <i class="fa fa-book"></i>
    </span> 32324 <br> asdadsadsad
  </a>
  <a class="panel-block" *ngIf="paneltab == 2">
    <span class="panel-icon">
      <i class="fa fa-book"></i>
    </span> 234242 <br> a234242424234 23dfa sdfc324
  </a>
  <a class="panel-block" *ngIf="paneltab == 3">
    <span class="panel-icon">
      <i class="fa fa-book"></i>
    </span>sdsfasfsafsdfsdafsdfds<br> asdasdafasf a#@$@!$#@$@%#%#$%@#^#$
  </a>
</nav>