<div class="box">

  <div class="field is-grouped pull-right">
    <div class="control">
      <a class="button is-primary is-inverted" type="submit" (click)="save()">
        <span class="icon is-medium">
          <i class="fa fa-save"></i>
        </span>
      </a>
    </div>
    <div class="control">
      <a class="button is-danger is-inverted" (click)="cancel()" type="reset">
        <span class="icon is-medium">
          <i class="fa fa-times"></i>
        </span>
      </a>
    </div>
  </div>

  <h1 class="title">Πελάτης: {{item.name}} {{item.surname}}</h1>
  <h2 class="subtitle">Λεπτομέρειες πελάτη</h2>

  <div class="field">
    <label class="label">Όνομα</label>
    <p class="control">
      <input class="input" [(ngModel)]="item.name" type="text" placeholder="Text input">
    </p>
  </div>
  <div class="field">
    <label class="label">Επίθετο</label>
    <p class="control">
      <input class="input" [(ngModel)]="item.surname" type="text" placeholder="Text input">
    </p>
  </div>
  <div class="field">
    <label class="label">Ημ/νια Γέννησης</label>
    <p class="control">
      <input class="input" type="date" [(ngModel)]="item.birthday" placeholder="Text input">
    </p>
  </div>
</div>
<div class="columns">
  <div class="column is-half">
    <div class="box">
      <h2 class="subtitle">Διεύθυνση Πελάτη (Προαιρετικά)</h2>
      <div class="columns">
        <div class="column  is-three-quarters">
          <div class="field">
            <label class="label">Διεύθυνση</label>
            <p class="control">
              <input class="input" type="text" [(ngModel)]="item.residenceInfo.address" placeholder="Διεύθυνση">
            </p>
          </div>
        </div>
        <div class="column ">
          <div class="field">
            <label class="label">Αριθμός</label>
            <p class="control">
              <input class="input" type="text" [(ngModel)]="item.residenceInfo.number" placeholder="Αριθμός">
            </p>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column is-three-quarters">
          <div class="field">
            <label class="label">Περιοχή</label>
            <p class="control">
              <input class="input" type="text" [(ngModel)]="item.residenceInfo.Region" placeholder="Περιοχή">
            </p>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label">T. K.</label>
            <p class="control">
              <input class="input" type="number" [(ngModel)]="item.residenceInfo.postalCode" placeholder="T.K">
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-half">
    <div class="box">
      <h2 class="subtitle">Επικοινωνία Πελάτη (Προαιρετικά)</h2>
      <div class="columns">
        <div class="column  is-half">
          <div class="field">
            <label class="label">Τύπος</label>
            <p class="control">
              <span class="select is-fullwidth">
                 <select [(ngModel)]="item.contactInfo.description"> 
                    <option *ngFor="let type of contactTypes" [ngValue]="type.Description">{{type.Description}}</option>
                 </select>
              </span>
            </p>
          </div>
        </div>
        <div class="column ">
          <div class="field">
            <label class="label">Αριθμός</label>
            <p class="control">
              <input class="input" type="text" [(ngModel)]="item.phone" placeholder="Αριθμός">
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="box">
  <span>{{item | json}}</span>
</div>