<section class="hero is-dark">

  <nav class="nav">

    <div class="nav-left">
      <a class="nav-item">
        <span class="icon">
          <i class="fa fa-tint"></i>
        </span>
        <span style="margin-left: 5px">xFit</span>
      </a>
    </div>

    <div class="nav-center">
      <a class="nav-item is-tab" routerLink="/dashboard" routerLinkActive="is-active">Dashboard</a>
      <a class="nav-item is-tab" routerLink="/companies" routerLinkActive="is-active">Companies</a>
      <a class="nav-item is-tab" routerLink="/products" routerLinkActive="is-active">Products</a>
      <a class="nav-item is-tab" routerLink="/customers" routerLinkActive="is-active">Customers</a>
    </div>

    <div class="nav-right nav-menu">
      <a class="nav-item" (click)="login()" *ngIf="!(af.auth | async)?.auth.displayName">
        <span class="icon">
          <i class="fa fa-google"></i>
        </span>
        Sign in
        </a>
      <a class="nav-item" (click)="logout()" *ngIf="(af.auth | async)?.auth.displayName">
        <span class="icon">
          <i class="fa fa-user-circle"></i>
        </span>
        {{ (af.auth | async)?.auth.displayName || 'Sign in (Google)' }}
      </a>
    </div>
  </nav>
</section>

<div class="container">
  <div class="column is-10 is-offset-1">
    <div class="">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>