<div class="container">
  <div class="box">
    <div class="field is-grouped pull-right">
      <div class="control">
        <button class="button is-primary" (click)="onInsert()">
        Προσθήκη
        </button>
      </div>
    </div>
    <h1 class="title">Πελατολόγιο</h1>
    <h2 class="subtitle">Διαχείριση πελατών</h2>

    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Όνομα</th>
          <th>Επίθετο</th>
          <th>Ημερομηνία Γέννησης</th>
          <th>Ενέργειες</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items | async; let index = index">
          <td>{{index + 1}}</td>
          <td>{{item.name}}</td>
          <td>{{item.surname}}</td>
          <td>{{item.birthday}}</td>
          <td style="width: 100px">
            <div class="field is-grouped">
              <div class="control">
                <a class="button is-primary is-inverted" (click)="onEdit(item)">
                  <span class="icon">
                  <i class="fa fa-pencil"></i>
                </span>
                </a>
              </div>
              <div class="control">
                <a class="button is-danger is-inverted" type="reset" (click)="onDelete(item)">
                  <span class="icon is-medium">
                  <i class="fa fa-times"></i>
                </span>
                </a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot>
      </tfoot>
    </table>
  </div>
</div>