<h2>Λεπτομέρειες Προϊόντος: {{item.name}}</h2>

<form class="form-horizontal col-lg-6">
  <fieldset>
    <div class="form-group">
      <label for="name" class="col-lg-2 control-label">Όνομα</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="name" [(ngModel)]="item.name" placeholder="Όνομα πακέτου" name="name">
      </div>
    </div>
    <div class="form-group">
      <label for="duration" class="col-lg-2 control-label">Διάρκεια</label>
      <div class="col-lg-10">
        <input type="number" class="form-control" id="duration" [(ngModel)]="item.duration" placeholder="Διάρκεια (μήνες ή αριθμός επισκέψεων)"
          name="duration">
      </div>
    </div>
    <div class="form-group">
      <label for="price" class="col-lg-2 control-label">Τιμή</label>
      <div class="col-lg-10">
        <input type="number" class="form-control" id="price" [(ngModel)]="item.price" placeholder="Τιμή" name="price">
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <div class="checkbox">
          <label>
              <input type="checkbox" [(ngModel)]="item.isPerVisit" name="isPerVisit"> Πακέτο Επισκέψεων
            </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <div class="checkbox">
          <label>
              <input type="checkbox" [(ngModel)]="item.isActive" name="isActive"> Ενεργό
            </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Ακύρωση</button>
        <button (click)="save()" type="submit" class="btn btn-primary">Αποθήκευση</button>
      </div>
    </div>
  </fieldset>
</form>

<div class="col-lg-offset-1 col-lg-5">
  <span>{{item | json}}</span>
</div>