<div class="columns">
  <div class="column is-6 is-offset-3">
    <div class="box">
      <h1 class="title">Πακέτο: {{product.name}}</h1>
      <h2 class="subtitle">Λεπτομέρειες πακέτου</h2>
          <div class="field">
            <label class="label">Εταιρία</label>
            <p class="control">
              <span class="select is-fullwidth ">
                 <select [(ngModel)]="product.companyId"> 
                    <option *ngFor="let comp of companyItems | async" [ngValue]="comp.$key">{{comp.name}}</option>
                 </select>
              </span>
            </p>
          </div>
      <div class="field">
        <label class="label">Περιγραφή</label>
        <p class="control">
          <input class="input" type="text" [(ngModel)]="product.name" placeholder="Όνομα πακέτου" name="name">
        </p>
      </div>
      <div class="field">
        <label class="label">Διάρκεια</label>
        <p class="control">
          <input class="input" type="number" [(ngModel)]="product.duration" placeholder="Διάρκεια (μήνες ή αριθμός επισκέψεων)" name="duration">
        </p>
      </div>
      <div class="field">
        <label class="label">Τιμή</label>
        <p class="control">
          <input class="input" type="number" [(ngModel)]="product.price" placeholder="Τιμή" name="price">
        </p>
      </div>
      <div class="field">
        <p class="control">
          <label class="checkbox">
      <input type="checkbox" [(ngModel)]="product.isPerVisit" name="isPerVisit">
     Πακέτο Επισκέψεων
    </label>
        </p>
      </div>
      <div class="field">
        <p class="control">
          <label class="checkbox">
      <input type="checkbox" [(ngModel)]="product.isActive" name="isActive">
    Ενεργό
    </label>
        </p>
      </div>
      <div class="is-clearfix">
        <div class="block pull-right">
          <a class="button" (click)="cancel()">Άκυρο</a>
          <a class="button is-success" (click)="save()">Αποθήκευση</a>
        </div>
      </div>
    </div>
  </div>
</div>